@using part2.Models
@model  List<Image_Class>
@{
    ViewBag.Title = "Home Page";
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "image_block"
    };
}

<br />

@foreach (var item in Model)
{
    String id = "image_shown"+item.img_id;

<div id=@id class="image_shown" style="height: 500px; width: auto;display: none">
    <figure>
        <img src="@Url.Content(@item.img_location)" alt="@(item.img_description)" style="height: 400px; width:auto" />
        <figcaption>@item.img_description</figcaption>
    </figure>
</div>
}

<div id="btn_group">
    <button id="btn_prev">Back</button>
    <button id="btn_startStop">Play</button>
    <button id="btn_next">Forward</button>
    <button id="btn_randOrSeq">Sequential</button>
</div>

<script src="/Scripts/script.js"></script>
<script>

   

</script>